.bg {
    background: #3CDFF8;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    overflow-y:auto;
}

.hub-map {
    background-image: url("/assets/images/map/capital_map.png");
    background-size: cover;
    background-position: center center;
    position: relative;
}

.hub-main-container {
    margin: 10px;
    flex: 1;
}

.hub-row {
    margin: 0;
    height: 100%;
}

.hub-column {
    margin: 0;
    flex-direction: column;
    height: 100%;
}

.hub-main-window {
    flex-grow: 1;
    flex-shrink: 0;
    min-width: 70vh;
    max-width: 133vh;
    height: 100%;
}

.hub-side-window {
    flex: 1;
    height: 100%;
    min-width: 300px;
    max-width: 400px;
}

.hub-side-bar {
    margin: 10px;
}

.hub-side-bar-userinfo {
    flex: 0 0 90px;
}

.hub-side-bar-main {
    flex: 1;
}

.hub-side-bar-exit {
    flex: 0 0 90px;
    padding-left: 10px;
    padding-right: 10px;
}

.hub-exit-panel-button{
    flex:20%;
    margin-left: 10px;
    margin-right: 10px;
}

:host ::ng-deep .hub-exit-button{
    height: 50px;
    font-size: 22px;
    margin: 0;
}

.hub-start-game-button{
    background-image: url("/assets/images/map/hero_selector.png");
}

.hub-map-button{
    background-color: transparent !important;
    border: none;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

:host ::ng-deep .hub-map-string-button {
    margin: 0;
    margin-top: 1vh;
    padding: 0px;
    background: none !important;
    border: none !important;
    box-shadow: none !important;
    font-size: 3vh;
    height: 16vh;
    width: 14vh;
    padding-top: 11vh;
}

.hub-map-string-button-container {
    position: absolute;
    z-index: 1;
}

.hub-map-button-panel{
    position: absolute;
    width: 14vh;
    height: 14vh;
}

.hub-start-game-panel{
    top: calc(23.4% - 3vh);
    left: calc(51.2% - 7vh);
}