<div class="row hub-column">
    <div class="arena-container border arena-border hub-main-container hub-map">
        <div class="hub-start-game-panel">
            <app-button-wrapper-noform buttonType="button" buttonLabel="To battle" class="h-100" class="hub-map-string-button-container" 
                buttonClass="hub-map-string-start-game-button arena-text-shadow"></app-button-wrapper-noform>  
            <div class="hub-map-button hub-start-game-button h-100"></div>
      </div>
    </div>
</div>