<form autocomplete="on">
    <div class="form-group" >
        <label for="userName" class="main-page-label">User Name:</label>
        <input name="userName" required id="userName" type="text" class="form-control main-page-input" placeholder="User Name..."/>
    </div>
    <div class="form-group">
        <label for="password" class="main-page-label">Password:</label>
        <input name="password" required id="password" type="password" class="form-control main-page-input" placeholder="Password..."/>
    </div>           
    <button type="submit" class="btn main-page-button main-page-large-button">Login</button>
    <button type="button" class="btn main-page-button">Register</button>
    <a class="main-page-hyperlink">Forgot password?</a>
</form>