<div class="h-100" style="display: flex; flex-direction: column">
    <div class="row row-nomargin">
        <img src="/assets/images/main/crusader.png" class="arena-profile-image"/>
        <div class="arena-profile-name">{{profile.userName}}</div>
    </div>
    <app-play class="main-page-whole-button-flex"></app-play>
    <app-button-wrapper-noform (clickEmitter)="logOutButtonPress()" buttonType="button" buttonLabel="Logout" buttonClass="main-page-back-button"></app-button-wrapper-noform>
</div>