<form #registerForm="ngForm" (ngSubmit)="registerButtonPress(registerForm.value)" autocomplete="off">
    <div class="form-group" >
        <label for="userName" class="main-page-label">User Name:</label>
        <input (ngModel)="userName" name="userName" id="userName" type="text" class="form-control main-page-input" placeholder="User Name..."/>
    </div>
    <div class="form-group" >
        <label for="email" class="main-page-label">Email:</label>
        <input (ngModel)="email" name="email" id="email" type="text" class="form-control main-page-input" placeholder="Email..."/>
    </div>
    <div class="form-group">
        <label for="password" class="main-page-label">Password:</label>
        <input (ngModel)="password" name="password" id="password" type="password" class="form-control main-page-input" placeholder="Password..."/>
    </div>  
    <input (ngModel)="confirmPassword" name="confirmPassword" id="confirmPassword" type="password" class="form-control main-page-input" placeholder="Confirm password..."/>
    <div class="row" style="margin-top: 5px !important;">         
        <button type="submit" [disabled]=registerForm.invalid class="btn arena-button main-page-small-button">Register</button>
        <button type="button" (click)="cancelButtonPress()" class="btn arena-button main-page-small-button">Cancel</button>
    </div>
</form>