.arena-button{
    font-weight: bold;
    margin-top:10px;
    margin-bottom: 10px;
    background-color: #202060;
    color: #DDDD60;
    width: 100%;
    border-radius: 0;
    outline-color: #303090;
}

.arena-button:hover:enabled{
    background-color: #303090;
    color: #FFFF80;
}

.arena-button:hover:disabled{
    background-color: #202060;
    color: #DDDD60;
}

.arena-button:active:enabled{
    background-color: #101030;
    color: #999940;
}

button:focus, input:focus{
    box-shadow: 0 0 0 0.2rem rgba(34,34,102, 0.5) !important;
}

.arena-input{
    border: 1px solid rgb(34,34,102);
    border-radius: 0rem;
    border: none;
}

.arena-input-error{
    border: 1px solid #FF0000;
    background-color: #FFEFEF;
}

.arena-input-error:focus{
    border: 1px solid #FF0000;
    background-color: #FFEFEF;
    box-shadow: 0 0 0 0.1rem rgba(255,0,0, 0.5) !important;
}

.arena-label{
    font-size: 18px;
    margin-left: 2px;
}

.arena-border{
    border-color: #202060 !important;
}

.arena-container{
    display: block;
    background-color: rgba(20,20,50,0.99);
    margin-top: 20px;
    padding: 20px;
}

.arena-row{
    display: inherit;
}

@media(min-width: 576px)
{
    .arena-row{
        display: flex;
    }
}

.row-nomargin{
    margin:0px !important;
}

.arena-profile-image{
    height: 50px;
    margin-left: 5px;
    margin-right: 5px;
}

.arena-profile-name{
    font-weight: bold;
    font-size: 22px;
    align-self: flex-end;
    margin: 4px;
    margin-left: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
  
.arena-revelation-level {
    flex: 1;
}