.arena-button{
    font-weight: bold;
    margin-top:10px;
    margin-bottom: 10px;
    background-color: #202060;
    color: #DDDD60;
    width: 100%;
    border-radius: 0;
    outline-color: #303090;
}

.arena-button:hover:enabled{
    background-color: #303090;
    color: #FFFF80;
}

.arena-button:active:enabled{
    background-color: #101030;
    color: #999940;
}

button, input:focus{
    box-shadow: 0 0 0 0.2rem rgba(34,34,102, 0.8) !important;
}