.bg {
  background: url("/assets/images/loading/loadingScreen.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%;
  overflow-y:auto;
}

@media screen and (min-width: 576px) and (max-width: 768px)
{
  @media(min-height: 440px)
  {
    .title{
      width: 506px;
    }
  }
  @media(max-height: 440px)
  {
    .title{
      height: 30vh;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 992px)
{
  @media(min-height: 540px)
  {
    .title{
      width: 680px;
    }
  }
  @media(max-height: 540px)
  {
    .title{
      height: 30vh;
    }
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px)
{
  @media(min-height: 640px)
  {
    .title{
      width: 900px;
    }
  }
  @media(max-height: 640px)
  {
    .title{
      height: 30vh;
    }
  }
}

@media screen and (min-width: 1200px)
{
  @media (min-height: 730px){
    .title{
      width: 1024px;
    }
  }
  @media(max-height: 730px)
  {
    .title{
      height: 30vh;
    }
  }
}

.startup-row-size{
  align-self: center !important;
  height: 75%;
  min-height: 400px;
  width: 100%;
  margin-bottom: 30px;
}

.main-page-border{
  border-color: #202060 !important;
}

.main-page-container{
  display: block;
  background-color: rgba(20,20,50,0.99);
  margin-top: 20px;
  padding: 20px;
}

.main-page-container-center{
  width:100%;
}

.main-page-input{
  border-radius: 0rem;
  border: none;
}

.main-page-label{
  font-size: 18px;
  margin-left: 2px;
}

.main-page-button{
  font-weight: bold;
  margin-top:10px;
  margin-bottom: 10px;
  background-color: #202060;
  color: #DDDD60;
  width: 100%;
  border-radius: 0;
  outline-color: #303090;
}
.main-page-button:hover:enabled{
  background-color: #303090;
  color: #FFFF80;
}

.main-page-button:active:enabled{
  background-color: #101030;
  color: #999940;
}

.main-page-small-button{
  flex: 40%;
  margin: 15px;
  margin-bottom: 0px;
}

.main-page-large-button{
  height: 80px;
  font-size: 34px;
}

.main-page-whole-button{
  flex:1;
  font-size: 44px;
  margin-bottom: 0px;
}

.main-page-back-button{
  margin-bottom: 0px;
}

.main-page-hyperlink{
  margin-left: 2px;
  color: #DDDD60 !important;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.main-page-hyperlink:hover:enabled{
  text-decoration: underline !important;
}

.main-page-hyperlink:active:enabled{
  text-decoration: underline !important;
  color: #999940 !important;
}

.main-page-row-nomargin{
  margin:0px !important;
}

.main-page-profile-image{
  height: 50px;
}

.main-page-profile-name{
  font-weight: bold;
  font-size: 22px;
  align-self: flex-end;
  margin: 2px;
  margin-left: 10px;
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media(max-width: 576px)
{
  .title{
    width: 90%;
  }

  .startup-row-size{
    height: 100%;
    padding-bottom: 20px;
    margin-bottom: 0px;
    min-height: 420px;
  }
}