<div style="height:35%">
    <div class="d-flex h-100">
        <div class="container-fluid align-self-end">
            <img src="/assets/images/main/title.png" class="mx-auto d-block title" style="bottom: 100px"/>
        </div>
    </div>
</div>
<div style="height: 65%;">
    <div class="container h-100">
        <div class="row align-items-center h-100">
            <div class="startup-row-size">
            <div class="col-lg-5 col-md-6 col-xl-4 col-sm-8 main-page-container border main-page-border h-100" [ngSwitch]="authorizeSwitch">
                <div class="main-page-container-center h-100">
                    <app-login *ngSwitchCase="authorizeSwitchEnum.Login"></app-login>
                    <app-register *ngSwitchCase="authorizeSwitchEnum.Register"></app-register>
                    <app-profile *ngSwitchCase="authorizeSwitchEnum.Profile"></app-profile>
                </div>
            </div>
        </div>
    </div>
</div>