<div style="height:35%">
    <div class="d-flex h-100">
        <div class="container-fluid align-self-end">
            <img src="/assets/images/main/title.png" class="mx-auto d-block title" style="bottom: 100px"/>
        </div>
    </div>
</div>
<div style="height: 65%;">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-lg-5 col-md-6 col-xl-4 col-sm-9 main-page-container border main-page-border authorize-size">
                <app-login></app-login>
                <app-register></app-register>
                <app-profile></app-profile>
            </div>
        </div>
    </div>
</div>