.loading-mask{
    background-color: black;
    position: fixed;
    cursor: default;
}

.loading-container{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    height: 100%;
    width: 100%; 
}

.loading-wheel{
    background-image: url("/assets/images/loading/loadingWheel.png");
    background-size: cover;
    height: 12vh;
    width: 12vh;
    background-repeat: no-repeat;
    background-position: center center;
    animation: spinner-border 2s linear infinite;
}

.loading-text{
    margin-top: 1vh;
    color: #ffff40;
    font-size: 3vh;
}

.loading-error{
    font-size: 5vh;
}

.loading-button{
    width: 100px;
    border-radius: .25rem;
    box-shadow: none !important;
}